#root {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

.LeadGrid {
  width: 100vw;
  height: 100%;
  padding-top: 6rem !important;
  padding-left: 10rem !important;
  padding-right: 30rem !important;
  padding-bottom: 20rem !important;
  background-color: #e7e5e5;
  display: flex;
  flex-direction: row;
}

.read-the-docs {
  color: #555555;
}
.mainBox,
.TrafficTimeController {
  width: 100%;
  height: 100%;
  background-color: rgba(252, 251, 249, 0.88);
}

.TrafficInfo{
  width: 100%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.88);
}

.TrafficTimeController {
  width: 350px;
}

.TrafficModeController {}

